@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

:root {
  --orange: #F2A900;
  --purple: #5555AA;
  --green: #3BA149;
}

body {
  margin: 0;
  font-family: 'Teko', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  text-decoration: none;
  color: inherit;
}

.active {
  color: var(--orange);
}